html {
	height: 1080px;
	width: 1920px;
}

body {
	height: 1080px;
	width: 1920px;
	margin: 0px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
}

#text {
	top: 85%;
	position: relative;
	display: inline-block;
	text-align: left;
	font-size: 28px;
	font-family: monospace;
}

#box1 {
	position: fixed;
	left: 0px;
	top: 540px;
	width: 480px;
	height: 270px;
	text-align: center;
	display: table-cell;
}

#box2 {
	position: fixed;
	left: 480px;
	top: 540px;
	width: 480px;
	height: 270px;
	text-align: center;
	display: table-cell;
}

#box3 {
	position: fixed;
	left: 960px;
	top: 540px;
	width: 480px;
	height: 270px;
	text-align: center;
	display: table-cell;
}

#box4 {
	position: fixed;
	left: 1440px;
	top: 540px;
	width: 480px;
	height: 270px;
	text-align: center;
	display: table-cell;
}

#box5 {
	position: fixed;
	left: 0px;
	top: 810px;
	width: 480px;
	height: 270px;
	text-align: center;
	display: table-cell;
}

#box6 {
	position: fixed;
	left: 480px;
	top: 810px;
	width: 480px;
	height: 270px;
	text-align: center;
	display: table-cell;
}

#box7 {
	position: fixed;
	left: 960px;
	top: 810px;
	width: 480px;
	height: 270px;
	text-align: center;
	display: table-cell;
}

#box8 {
	position: fixed;
	left: 1440px;
	top: 810px;
	width: 480px;
	height: 270px;
	text-align: center;
	display: table-cell;
}

#boxPRV {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 960px;
	height: 540px;
	text-align: center;
	display: table-cell;
}

#boxPGM {
	position: fixed;
	left: 960px;
	top: 0px;
	width: 960px;
	height: 540px;
	text-align: center;
	display: table-cell;
}